# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build files
dist/
build/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
*.log

# Misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 